.navbar {
    background-color: #00A651;
 }

 ul {
     list-style: none;
 }

 img,p,h6, form, .commentList {
     padding-left: 10px;
 }

 h3 {
     padding: 10px;
 }

 h6 {
     padding-top: 10px;
 }
